.stripe-container{
    height: 280px;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 20px 14px 14px #ffd600;
    margin-bottom: 100px;
    z-index: 9;
    
}
.stripe-text-container{
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 100%;
   

}
.stripe-text-container h1{
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align-last: left;
    font-family: 'Noto Serif', serif;
}
.stripe-text-container p{
    margin-left: 5px;
    text-align: left;
    width: 60%;
}
.button-group{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    height: 100px;
}
.button-group .join-button{
    width: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: black;
    color: #ffd600;
    font-family: 'Staatliches', cursive;
    font-weight: bold;
    font-size: 19px;
    box-shadow: 10px 10px 14px black;
}
.button-group .contact-button{
    width: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: black;
    color: #ffd600;
    font-family: 'Staatliches', cursive;
    font-weight: bold;
    font-size: 19px;
    box-shadow: 10px 10px 14px black;
}