.about-hero-container{
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 14px 14px;
}
.about-hero-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 3.2;
    margin-right: 10px;
}
.vertical-divide{
    height: 250px;
    width: 4px;
    background-color: #ffd600;
    margin-bottom: 60px;
}
.about-hero-far-left{
    flex: 0.1;
}
.about-hero-left{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
   
}
.about-hero-left h1{
    font-family: 'Noto Serif', serif;
    margin-bottom: 15px;
    text-transform: uppercase;
}


.about-hero-center{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
    
}
.about-hero-center h1{
    font-family: 'Noto Serif', serif;
    margin-bottom: 10px;
    text-transform: uppercase;
    
}

.about-hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
}
.about-hero-right h1{
    text-transform: uppercase;
    font-family: 'Noto Serif', serif;
    margin-bottom: 10px;
}
p{
    margin-top: 5%;
    width: 80%;
    text-align: center;
}
