
.header-bg{
    height: 500px;
    background-image: url(../../assets/background-1.png);
    filter: grayscale(20%);
    background-position: right .3%  top 50%;
    font-family: 'Staatliches', cursive;
}
.header-bg h1{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
    font-size: 40px;
    text-shadow:
    0 0 7px #000,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #000,
    0 0 82px #000,
    0 0 92px #000,

    0 0 102px #000,
    0 0 151px #000;
}
.header-bg h2{
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    padding-top: 1.5%;
    font-size: 30px;
    text-shadow:
    0 0 7px #000,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #000,
    0 0 82px #000,
    0 0 92px #000,

    0 0 102px #000,
    0 0 151px #000;
}
.buttons-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex: 3;
    width: 100%;
    padding-top: 7%;
}
.buttons-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons-center{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.media-button{
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffd600;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Staatliches', cursive;
    filter: drop-shadow(8px 8px 4px black);
}

.quote-button{
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffd600;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Staatliches', cursive;
    filter: drop-shadow(8px 8px 10px black);
}

.stripe-text h3{
    position: relative;
    color: black;
    bottom: 300px;
    font-size: 40px;
    margin-left: 2.5%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Staatliches', cursive;
    
}
.stripe-text h4{
    position: relative;
    color: black;
    bottom: 250px;
    font-size: 40px;
    margin-left: 2.5%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Staatliches', cursive;
}