
.header-bg{
    height: 500px;
    background-image: url(../../assets/Pier-Drilling-Safely.jpg);
    filter: grayscale(20%);
    background-position: right .3%;
    font-family: 'Staatliches', cursive;
}
.header-bg h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
    font-size: 40px;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #fff,
    0 0 82px #fff,
    0 0 92px #fff,

    0 0 102px #fff,
    0 0 151px #fff;
}
.header-bg h2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.5%;
    font-size: 30px;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #fff,
    0 0 82px #fff,
    0 0 92px #fff,
    0 0 102px #fff,
    0 0 151px #fff;
}
.buttons-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex: 3;
    width: 100%;
    padding-top: 7%;
}
.buttons-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons-center{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.media-button{
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffd600;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Staatliches', cursive;
}

.quote-button{
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffd600;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Staatliches', cursive;
}

