*{
    margin: 0;
}
.navbar-container{
    background-color: black;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
}
.navbar-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 4;
    position: sticky;
}
.left{
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    color: white;
}
.logo{
    height: 120px;
    width: 120px;
   
}
.phone{
    margin-top: 30px;
    padding-left: 10px;
}
.center{
    flex: 2;
    margin-right: 20px;
    
}
.menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    margin-right: 20px;
}
.menuitem{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}
.menuitem:hover{
    color: #ffd600;
    text-decoration: none;
    transition: 1s ease-in-out;
}
.right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-evenly;
    margin-right: 10px;
    
}
.nav-icon{
    cursor: pointer;
    color: white;
}
.nav-icon:hover{
    color: #ffd600;
    transition: 1s ease-in-out;
}
Link{
    text-decoration: none;
}