.section{
    height: 400px;
    width: 100vw;
}
 .featured-post{
     width: 100%;
     height: 400px;
     display: flex;
     flex-direction: column;
     background-color: red;
     border-radius: 10px;
     box-shadow: 2px 2px 14px black;
    
     
 }
 .text{
     margin-bottom: 8%;
     margin-top: -2%;
     
 }
 .text h1{
     text-transform: uppercase;
     font-family: 'Noto Serif', serif;
 }
 .feature-container{
     display: flex;
     height: 100%;
     width: 100%;
 }
 .featured-post-container{
     display: flex;
     width: 100%;
     align-items: center;
     justify-content: space-evenly;
 }
 .featured-post-item img{
     height: 400px;
     box-shadow: 10px 10px 14px black;
     border-radius: 10px;
 }
 .featured-post-img:hover{
     filter: grayscale(60);
     transition: all 2s ease;
 }