.service-body{
    height: 800px;
    width: 100%;
    display: flex;
    align-items: center;
}
.service-body-container{
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-container{
    height: 100%;
    width: 100%;
}